@charset "utf-8";

// ローカルフォント読み込みここから //
@font-face {
    font-family: "BigShouldersDisplay"; /* フォント名 */
    src: url("../../fonts/BigShouldersDisplay-VariableFont_wght.ttf") format("woff");
}

@font-face {
    font-family: "Outfit"; /* フォント名 */
    src: url("../../fonts/Outfit-VariableFont_wght.ttf") format("woff");
}
// ローカルフォント読み込みここまで //