@charset "utf-8";

@use './font' as *;

// グローバル変数宣言ここから //
$breakpoints: (
    "sm": 480px,
    "md": 767px,
    "lg": 1024px
);

$fontGothic: "BigShouldersDisplay";

$baseColor: #333;
// グローバル変数宣言ここまで //
